<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.IniciativaMapper">

    <select parameterType="map" id="consultarIniciativas" resultMap="IniciativaResult">
        SELECT
            i.id,
            i.nombre,
            i.descripcion,
            i.estado,
            i.fecha_registro,
            u.documento as usuario_documento,
            u.email as usuario_email,
            u.nombre as usuario_nombre,
            u.apellido as usuario_apellido,
            u.password as usuario_password,
            u.area as usuario_area,
            u.rol as usuario_rol,
            p.id as palabraclave_id,
            p.palabra as palabraclave_palabra
        FROM iniciativa i , usuario u , palabraclave p
        WHERE i.usuario = u.documento
        AND p.iniciativa = i.nombre;
    </select>

    <select parameterType="map" id="consultarIniciativasPorId" resultMap="IniciativaResult">
	    SELECT
            i.id,
            i.nombre,
            i.descripcion,
            i.estado,
            i.fecha_registro,
            u.documento as usuario_documento,
            u.email as usuario_email,
            u.nombre as usuario_nombre,
            u.apellido as usuario_apellido,
            u.password as usuario_password,
            u.area as usuario_area,
            u.rol as usuario_rol,
            p.id as palabraclave_id,
            p.palabra as palabraclave_palabra
        FROM iniciativa i , usuario u , palabraclave p
        WHERE i.usuario = u.documento
        AND p.iniciativa = i.nombre
        AND i.id = #{id};
    </select>

    <select parameterType="map" id="consultarIniciativasPorPalabraClave" resultMap="IniciativaResult">
	    SELECT
            i.id,
            i.nombre,
            i.descripcion,
            i.estado,
            i.fecha_registro,
            u.documento as usuario_documento,
            u.email as usuario_email,
            u.nombre as usuario_nombre,
            u.apellido as usuario_apellido,
            u.password as usuario_password,
            u.area as usuario_area,
            u.rol as usuario_rol,
            p.id as palabraclave_id,
            p.palabra as palabraclave_palabra
        FROM iniciativa i , usuario u , palabraclave p
        WHERE i.usuario = u.documento
        AND p.iniciativa = i.nombre
        AND p.palabra = #{palabra};
    </select>

    <update parameterType="map" id="cambiarEstadoAiniciativa">
        UPDATE iniciativa
        SET estado = #{estado}
        WHERE id =  #{iniciativa.id};
    </update>

    <insert id="insertarIniciativa" parameterType="map">
        INSERT INTO iniciativa (nombre , descripcion , estado , fecha_registro , usuario) VALUES ( #{iniciativa.nombre}, #{iniciativa.descripcion} , #{iniciativa.estado} , #{iniciativa.fecha_registro} , #{iniciativa.usuario.documento});
    </insert>

    <insert id="agregarPalabraClaveAIniciativa" parameterType="map">
        INSERT INTO palabraclave (iniciativa , palabra) VALUES( #{iniciativa.nombre}, #{palabra} );
    </insert>

    <resultMap type='Iniciativa' id='IniciativaResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='descripcion' column='descripcion'/>
        <result property='estado' column='estado'/>
        <result property='fecha_registro' column='fecha_registro'/>
        <association property='usuario' javaType="Usuario"  resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.UsuarioMapper.UsuarioResult" columnPrefix='usuario_'></association>
        <collection property='palabras_clave' ofType='PalabraClave'  resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.PalabraClaveMapper.PalabraClaveResult" columnPrefix='palabraclave_'></collection>
    </resultMap>



</mapper>
