<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.IniciativaMapper">

    <select parameterType="map" id="consultarIniciativas" resultMap="IniciativaConsultaBasicaResult">
	SELECT
        i.id,
        i.nombre,
        i.descripcion,
        i.estado
    FROM iniciativa AS i;
    </select>

    <select parameterType="map" id="consultarIniciativasPorId" resultMap="IniciativaConsultaBasicaResult">
	SELECT
        i.id,
        i.nombre,
        i.descripcion,
        i.estado
    FROM iniciativa AS i
    WHERE i.id=#{id};
    </select>

    <update parameterType="map" id="cambiarEstadoAiniciativa">
        UPDATE iniciativa
        SET estado = #{estado}
        WHERE id =  #{iniciativa.id};
    </update>

    <insert id="insertarIniciativa" parameterType="map">
        INSERT INTO iniciativa (nombre , descripcion , estado , fecha_registro , usuario) VALUES ( #{iniciativa.nombre}, #{iniciativa.descripcion} , #{iniciativa.estado} , #{iniciativa.fecha_registro} , #{iniciativa.usuario.documento});
    </insert>

    <insert id="agregarPalabraClaveAIniciativa" parameterType="map">
        INSERT INTO palabraclave (iniciativa , palabra) VALUES( #{iniciativa.nombre}, #{palabra} );
    </insert>

    <resultMap type='Iniciativa' id='IniciativaResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='descripcion' column='descripcion'/>
        <result property='estado' column='estado'/>
        <collection property='palabras_clave' ofType='PalabraClave'  resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.PalabraClave.PalabraClaveResult" columnPrefix='palabraclave_'></collection>
    </resultMap>

    <resultMap id="IniciativaConsultaBasicaResult" type="Iniciativa">
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='descripcion' column='descripcion'/>
        <result property='estado' column='estado'/>
    </resultMap>


</mapper>
