body {
    background-image: url("../img/fondo.jpg");
    margin:0;
    padding: 0;
    background-size:cover;
    text-align: center;
    font-family: Quicksand;

}

h1{
    color: yellowgreen ;
}

#tabla{
    margin:50px auto;
    width: 80%;
    background-color: white;
    text-align: left;
    border-collapse: collapse;
}

th, td{
    padding: 15px;
}

thead{
    background-color: yellowgreen;
    border-bottom: solid 3px;
    color: black;
}

tr:nth-child(even){
    background-color: #ddd ;
}

tr:hover td{
    background-color: #369681;
    color: black;
}

#busqueda{
    border-radius: 15px;
    height: 15px;
}

#login_user{
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=10);
    -khtml-opacity: 0.8;
    text-align: center;
    box-sizing: border-box;
    padding: 0 0;
}

#validacion{
    margin-top:2%;
    margin-left: 25%;
    position: relative;
    width: 50%;
    height: 300px;

}
h1{
    font-family: Quicksand;
}


#name{
    border-radius: 15px;
}
#lastname{
    border-radius: 15px;
}

#email{
    border-radius: 15px;
}

#password{
    border-right: 15px;
}

#username{
    border-radius: 15px;
}

#password{
    border-radius: 15px;
}
#boton_register{
    margin-top: 4px;
    width: 40%;
    font-family: Quicksand;
    background-color: mintcream;
    border-radius: 15px;
}

#boton_guardar{
    width: 10%;
    font-family: Quicksand;
    background-color: mintcream;
    border-radius: 15px;

}
#boton_salir{
    width: 5%;
    font-family: Quicksand;
    background-color: mintcream;
    border-radius: 15px;
    margin: 1px 1px;
    float: right;

}


